# Node modules
scraper/node_modules/

# Python environments
analysis-python/venv/
web-flask/venv/

# Operating system files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/

# Logs and databases
*.log
*.sql
*.db

# Config files with sensitive information
*.config


